<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sits.school360">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.subjectDetails.SubjectDetailsActivity"></activity>
        <activity android:name=".AboutSchool" />
        <activity
            android:name=".MyNoticesActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".ActivitiesActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".ProjectActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".ui.homeworkDetails.HomeworkActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".CircularActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".ui.teachersDetails.MyTeachersActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".ui.timetableDetails.TimeTableActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".SallybusActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".EventsActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".SmsHistoryActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".MessagesActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".ui.profileDetails.MyProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".ui.homeDetails.HomeActivity"
            android:theme="@style/AppTheme.ProfileTheme" />
        <activity
            android:name=".ui.feeSummary.FeeSummaryActivity"
            android:parentActivityName=".ui.exam.ExamFragment" />
        <activity
            android:name=".ui.transportDetails.TransportActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity android:name=".ui.examReport.ExamReportActivity" />
        <activity
            android:name=".ui.examSchedule.ExamScheduleActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".ui.feeDueDetails.FeeDueDetailsActivity"
            android:parentActivityName=".ui.exam.ExamFragment" />
        <activity
            android:name=".ui.feePaidDetails.FeePaidDetailsActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".FeePaymentActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".ui.myAttendance.AttendanceActivity"
            android:parentActivityName=".ui.homeDetails.HomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.homeDetails.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>